{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  {% if request.path == '/' %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ 'Page ' + request.path.rstrip('/').rsplit('/', 1)[-1] + ' - ' + site.title }}</title>
  {% endif %}
{% endblock %}

{% block main %}
  {% if not entries %}
    <div class="article">
      <p>😶这里是空的。</p>
    </div>
  {% endif %}
  {% for entry in entries %}
    <article class="article" {%- if entry.meta.language %} lang="{{ entry.meta.language }}" {%- endif %}>
      <h2 class="article-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
      {% include ['custom/meta.html', 'meta.html'] ignore missing %}
      <div class="content limit-height">
        {{ entry.preview|safe }}
        <div class="hide-article-box"></div>
        {% if entry.has_more_content %}
          <p>……</p>
        {% endif %}
        <a href="{{ entry.url }}" class="fill-link">link</a>
      </div>
    </article>
  {% endfor %}

  <div class="article pager-container">
    {% if prev_url or next_url %}
      <ul class="pager">
        {% if next_url %}
          <li class="previous">
            <a href="{{ next_url }}" class="button">上一页</a>
          </li>
        {% endif %}
        {% if prev_url %}
          <li class="next">
            <a href="{{ prev_url }}" class="button">下一页</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endblock %}