{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  <title>{{ entry.title + ' - ' + site.title }}</title>
{% endblock %}

{% block main %}
  <article class="article" {%- if entry.meta.language %} lang="{{ entry.meta.language }}" {%- endif %}>
    <h1 class="article-title">{{ entry.title }}</h1>
    {% if entry.created %}
      <span class="date">创建于
        <time datetime="{{ entry.created.strftime('%Y-%m-%d') }}">{{ entry.created.strftime('%Y-%m-%d') }}</time>
      </span>
    {% endif %}
    {%- if entry.updated and entry.updated != entry.created -%}
      <span class="date">，更新于
        <time datetime="{{ entry.updated.strftime('%Y-%m-%d') }}">{{ entry.updated.strftime('%Y-%m-%d') }}</time>
      </span>
    {% endif %}
    <div class="content">
      {{ entry.content|safe }}
    </div>
  </article>
  <div class="article discuss-thread" id="discuss-thread">
    <h2>评论</h2>
    {% include ['custom/discuss-thread.html', 'discuss-thread.html'] ignore missing %}
  </div>
{% endblock %}